@font-face{
    font-family: Nunito;
    src: url('../fonts/Nunito/Nunito-Regular.ttf');
}
@font-face{
    font-family: Nunito;
    font-weight: 600;
    src: url('../fonts/Nunito/Nunito-SemiBold.ttf');
}
@font-face{
    font-family: Lato;
    src: url('../fonts/Lato/Lato-Regular.ttf');
}
@font-face{
    font-family: Lato;
    font-weight: 700;
    src: url('../fonts/Lato/Lato-Bold.ttf');
}
@font-face{
    font-family: Poppins;
    src: url('../fonts/Poppins/Poppins-Regular.ttf');
}
@font-face{
    font-family: Poppins;
    font-weight: 500;
    src: url('../fonts/Poppins/Poppins-Medium.ttf');
}
@font-face{
    font-family: Poppins;
    font-weight: 600;
    src: url('../fonts/Poppins/Poppins-SemiBold.ttf');
}
body{
    font-family: Nunito;
    font-size: 14px;
    line-height: 1.6;
    color: #222;
}
h1, h2, h3, h4, h5, h6{
    font-family: Poppins;
    font-weight: 600;
    color: #2d2a2a;
    line-height: 1.4;
}
h1{
    letter-spacing: .00804em;
}
h3{
    font-size: 1.5rem;
    letter-spacing: .01em;
    line-height: 1.16667;
}
h6 {
    font-size: 12px;
}
p {
    font-size: 1.125rem;
    letter-spacing: .00889em;
    line-height: 1.55556;
}
ol, ul {
    line-height: 1.4;
    padding: 0;
    margin: 0;
}
a:hover{
    text-decoration: none;
}
.fw-400 {
    font-weight: 400;
}
.fw-500 {
    font-weight: 500;
}
.text-primary{
    color: #0357dd !important;
}
.mb-5rem{
    margin-bottom: 5rem !important;
}
.mb-30{
    margin-bottom: 30px;
}
.mb-35{
    margin-bottom: 35px;
}
.mobile-nav-icon {
    position: relative;
}
.mobile-nav-icon > a {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    height: 40px;
    color: #FFF;
    font-weight: 400;
    line-height: 1;
    padding-right: 10px;
    padding-left: 10px;
    transition: all .25s ease,height .2s ease;
}
.mobile-nav-icon .wd-tools-icon {
    position: relative;
    font-weight: 400;
    font-size: 0;
    margin-top: 6px;
    margin-bottom: 6px;
}
.woodmart-burger-icon .woodmart-burger, .woodmart-burger-icon .woodmart-burger::after, .woodmart-burger-icon .woodmart-burger::before {
    display: inline-block;
    width: 18px;
    height: 2px;
    background-color: currentColor;
    transition: width .25s ease;
}
.woodmart-burger-icon .woodmart-burger::after, .woodmart-burger-icon .woodmart-burger::before {
    content: "";
    position: absolute;
    left: 0;
}
.woodmart-burger-icon .woodmart-burger::before {
    top: -6px;
}
.woodmart-burger-icon .woodmart-burger::after {
    top: 6px;
}
.mobile-nav-icon .wd-tools-text {
    margin-left: 8px;
    vertical-align: middle;
    text-transform: uppercase;
    white-space: nowrap;
    font-family: Lato,Arial,Helvetica,sans-serif;
    font-weight: 700;
    font-size: 13px;
}
.navbar-brand img{
    max-width: 210px;
    max-height: 90px;
    transition: max-height .3s ease;
}
.navbar-dark .navbar-nav .nav-link{
    color: #fff;
    font-weight: 700;
    font-size: 13px;
    padding-right: 10px;
    padding-left: 10px;
    text-transform: uppercase;
    letter-spacing: .2px;
    line-height: 1;
    font-family: Lato;
}
.navbar-search a{
    color: #fff;
    font-size: 19px;
}
header.sticky-header .fixed-top{
    background-color: #212121;
    padding: 0;
    box-shadow: 0 1px 3px rgba(0,0,0,.1);
}
header.sticky-header .fixed-top .navbar-brand img{
    max-height: 50px;
}
.site-content {
    margin-bottom: 40px;
}
.home-banner-wrap{
    position: relative;
    padding-top: 30vh;
    padding-bottom: 5vh;
    background-image: url('../images/ha-section-1.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#particles-js{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}
.home-banner-wrap h1{
    font-size: 2.5rem;
    color: #ffffff;
    line-height: 1.2;
    text-align: center;
    margin-bottom: .5rem;
}
.home-banner-wrap h3{
    font-size: 1.5rem;
    color: rgba(255,255,255,0.5);
    line-height: 1.16;
    text-align: center;
    margin-bottom: 10px;
}
.home-banner-wrap h1 a{
    color: #fff;
}
.home-banner-wrap h1 a:hover{
    opacity: 0.85;
}
.home-service-wrap{
    padding: 35px 40px 0 40px;
}
.home-service-blocks .woodmart-info-box {
    margin-bottom: calc(3rem + 35px);
}
.home-service-blocks .box-icon-wrapper {
    margin-bottom: 2.5rem;
}
.home-service-blocks .woodmart-info-box .info-box-icon {
    display: inline-block;
    transition: all .25s ease;
}
.home-service-blocks .woodmart-info-box .info-box-title {
    margin-bottom: .625rem;
    color: #0357dd;
}
footer{
    background-image: url('../images/ha-section-1.jpg');
}
.footer-sidebar {
    padding-top: 40px;
    padding-bottom: 10px;
}
.footer-column {
    margin-bottom: 30px;
}
.widget-title{
    margin-bottom: 20px;
    text-transform: uppercase;
    font-size: 16px;
}
.footer-sidebar .widget-title{
    color: #fff;
}
.footer-logo{
    max-width: 80%; 
    margin-bottom: 10px;
}
.footer-logo img{
    margin-bottom: 10px;
}
.widget li{
    margin-bottom: 15px;
}
.widget_nav_menu ul li {
    display: block;
    color: #BBB;
    font-size: 14px;
}
.footer-sidebar .widget_nav_menu ul li {
    color: rgba(255,255,255,.6);
}
.widget a{
    color: #727272;
}
.widget_nav_menu ul li a{
    display: inline-block;
    padding-right: 2px;
}
.footer-sidebar .footer-widget a {
    color: rgba(255,255,255,.6);
}
.widget_nav_menu ul li.current_page_item > a{
    color: #333;
}
.footer-sidebar .widget_nav_menu ul li.current_page_item > a{
    color: #fff;
}
.copyrights-wrapper {
    border-top: 1px solid rgba(255,255,255,0.1);
}
.min-footer {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    margin-right: -15px;
    margin-left: -15px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.min-footer div.col-left:first-child {
    flex: 1 0 30%;
    padding-right: 15px;
    padding-left: 15px;
    max-width: 30%;
    line-height: 1.2;
}
.min-footer .col-right {
    text-align: right;
    flex: 1 0 70%;
    padding-right: 15px;
    padding-left: 15px;
    max-width: 70%;
    line-height: 1.2;
}
.min-footer small {
    color: rgba(255,255,255,.8);
}
.footer-container a{
    color: rgba(255,255,255,.9);
}
.min-footer small strong {
    font-weight: 400;
}
.woodmart-search-full-screen {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 400;
    display: flex;
    align-items: stretch;
    flex-direction: column;
    background-color: #FFF;
    box-shadow: 0 0 14px rgba(0,0,0,.08);
    transition: -webkit-transform .3s ease;
    transition: transform .3s ease;
    transition: transform .3s ease,-webkit-transform .3s ease;
    -webkit-transform: translate3d(0,100%,0);
    transform: translate3d(0,100%,0);
}
.woodmart-search-full-screen.search-overlap {
    -webkit-transform: none;
    transform: none;
}
.wd-cross-button {
    position: relative;
    display: inline-block;
    cursor: pointer;
    line-height: 30px;
}
.woodmart-search-full-screen .woodmart-close-search {
    position: absolute;
    top: 5px;
    right: 5px;
    z-index: 200;
    width: 100px;
    height: 100px;
    font-size: 0;
    cursor: pointer;
}
.wd-cross-button:after, .wd-cross-button:before {
    content: " ";
    position: absolute;
    top: 50%;
    display: inline-block;
    margin-top: -1px;
    width: 12px;
    height: 2px;
    background-color: #000;
    transition: background-color .2s ease-in-out,width .2s ease-in-out,-webkit-transform .2s ease-in-out;
    transition: background-color .2s ease-in-out,transform .2s ease-in-out,width .2s ease-in-out;
    transition: background-color .2s ease-in-out,transform .2s ease-in-out,width .2s ease-in-out,-webkit-transform .2s ease-in-out;
}
.wd-cross-button:before {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}
.wd-cross-button:after {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.woodmart-search-full-screen .woodmart-close-search:after, .woodmart-search-full-screen .woodmart-close-search:before{
    top: 50px;
    left: 32px;
    width: 40px;
    height: 3px;
}
.wd-cross-button:hover:after, .wd-cross-button:hover:before {
    -webkit-transform: rotate(0);
    transform: rotate(0);
}
.searchform {
    position: relative;
}
.woodmart-search-full-screen .searchform {
    flex: 0 0 auto;
    padding-right: 100px;
    padding-left: 100px;
    border-bottom: 1px solid;
    opacity: 0;
    transition: opacity .35s ease .2s;
}
.woodmart-search-full-screen .searchform{
    border-color: rgba(129,129,129,.2);
}
.woodmart-search-full-screen.search-overlap .searchform {
    opacity: 1;
}
.searchform input[type=text] {
    padding-right: 50px;
    height: 46px;
    font-size: 15px;
}
.woodmart-search-full-screen .searchform input[type=text] {
    position: relative;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
    height: 110px;
    border: none;
    background-color: transparent;
    box-shadow: none;
    color: #333;
    text-align: center;
    font-weight: 600;
    font-size: 48px;
}
.searchform .searchsubmit {
    position: absolute;
    top: 0;
    right: 2px;
    bottom: 0;
    padding: 0;
    width: 50px;
    border: none;
    background-color: transparent;
    color: #777;
    font-weight: 400;
    font-size: 0;
}
.woodmart-search-full-screen .searchform .searchsubmit {
    display: none;
}
.search-info-text {
    display: none;
    flex: 0 0 auto;
    overflow: hidden;
    margin-top: 10px;
    text-align: center;
    letter-spacing: .3px;
    font-size: 16px;
    line-height: 30px;
}
.woodmart-search-full-screen .search-info-text {
    display: block;
}
.search-info-text>span {
    display: block;
    transition: all .35s ease .15s;
    -webkit-transform: translateY(-50px) translateZ(0);
    transform: translateY(-50px) translateZ(0);
}
.woodmart-search-full-screen.search-overlap .search-info-text>span {
    -webkit-transform: none;
    transform: none;
}
.woodmart-close-side {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    opacity: 0;
    visibility: hidden;
    background-color: rgba(0,0,0,.7);
    transition: opacity .25s ease,visibility 0s ease .25s;
}
.woodmart-close-side-opened {
    opacity: 1;
    visibility: visible;
    transition: opacity .25s ease,visibility 0s ease;
}
.mobile-nav {
    position: fixed;
    top: 0;
    bottom: 0;
    z-index: 9999;
    overflow: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    width: 340px;
    background-color: #FFF;
    transition: -webkit-transform .25s ease;
    transition: transform .25s ease;
    transition: transform .25s ease,-webkit-transform .25s ease;
}
.slide-from-left {
    right: auto;
    left: 0;
    -webkit-transform: translate3d(-340px,0,0);
    transform: translate3d(-340px,0,0);
}
.mobile-nav.act-mobile-menu{
    -webkit-transform: none;
    transform: none;
}
.site-mobile-menu li {
    position: relative;
    display: block;
}
.site-mobile-menu li a.nav-link {
    display: flex;
    align-items: center;
    flex-direction: row;
    padding-top: 5px;
    padding-right: 20px;
    padding-bottom: 5px;
    padding-left: 20px;
    min-height: 50px;
    border-bottom: 1px solid rgba(129,129,129,.2);
    color: #2d2a2a;
    text-transform: uppercase;
    letter-spacing: .2px;
    font-weight: 600;
    font-size: 13px;
    line-height: 1.3;
}
.site-mobile-menu li.current-menu-item > a {
    color: #0357dd;
}
@media (max-width: 1024px){
    .woodmart-close-side {
        top: -150px;
        height: calc(100vh + 300px);
    }
    .mobile-nav {
        width: 300px;
    }
    .slide-from-left {
        -webkit-transform: translate3d(-300px,0,0);
        transform: translate3d(-300px,0,0);
    }
    header .navbar-nav, header .navbar-search{
        display: none;
    }
    header .navbar-brand{
        flex-grow: 1;
        text-align: center;
        margin-right: 0;
    }
}
@media (min-width: 1025px){
    header .mobile-nav-icon{
        display: none;
    }
}